/* GENERAL DESIGN ======= */

body {
  background: #fffaee;
  font-family: 'Barlow Condensed';
}
.body-wrapper {
  height: auto;
  min-height: 500px;
  margin: 0 25px 25px 25px;
  background: #efefef;
}
.add-homestay-btn {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.row {
  /* background: yellow; */
}
.col {
  /* border: 1px solid slateblue; */
}
div {
  /* border: .5px solid slateblue; */
}
.btn.btn-square {
  border-radius: 0;
  color: #fff;
  background: #8eb8d8;
}
.page-wrapper {
  background: red;
}
.management-page {
  height: 100vh;
}
a {
  color: #000;
}
a:hover {
  color: #000;
  text-decoration: none;
}

/* HOMESTAY LIST ======= */

.homestay-row {
  margin: 40px
}
.homestay-image-wrapper {
  height: 100%;
}
.homestay-image {
  background-position: center center;
  background-size: cover;
  height: auto;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .homestay-image {
    min-height: 300px;
  }
}
.homestay-detail {
  height: 100px;
}
.homestay-detail div {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #fff;
}
.detail-value {
  border-top: 5px solid #efefef;
}
.homestay-detail .detail-title {
  background: #6abcaa;
  color: #fff;
  border-top: 5px solid #efefef;
  border-left: 5px solid #efefef;
  border-right: 5px solid #efefef;
}
.homestay-detail .price {
  color: #6abcaa;
}
.homestay-detail .detail-value {
  justify-content: left;
}
.homestay-denied-border {
  border: 5px solid red;
  padding: 0 5px 5px 5px;
}

/* SIDEBAR ======= */

.sidebar {
  background: #fff;
  color: #000;
  padding: 15px;
  text-align: center;
}
.sidebar-selected {
  color: #fff;
  background: #6abcaa;
}
.sidebar-wrapper {
  background: #fff;
  border-top: 2.5px solid #efefef;
  border-left: 5px solid #efefef;
  border-right: 5px solid #efefef;
  border-bottom: 5px solid #efefef;
}
@media screen and (max-width: 768px) {
  .sidebar-wrapper {
    height: 100%;
  }
}
.sidebar {
  border-top: 2.5px solid #efefef;
  border-bottom: 2.5px solid #efefef;
}
.sidebar-last {
  border-bottom: 5px solid #efefef;
}

/* NAVBAR ======= */

.navbar-wrapper {
  margin: 25px 25px 0 25px;
}
.navbar-menu {
  padding: 10px;
  text-align: center;
}
.navbar-logo {
  height: 21px;
}
.logout-btn {
  background: #efefef !important;
}
.navbar-menu {
  border-top: 5px solid #efefef;
  border-left: 2.5px solid #efefef;
  border-right: 2.5px solid #efefef;
  background: #fff;
}
.navbar-menu-selected {
  background: #6abcaa;
  color: #fff;
}
.navbar-username {
  border: none !important;
  background: unset;
  border-top: 5px solid rgba(0,0,0,0) !important;
}
.navbar-menu-first {
  border-left: 5px solid #efefef;
}
.navbar-menu-last {
  border-right: 5px solid #efefef;
}
.add-home-wrapper {
  margin-right: 40px;
  margin-bottom: 40px;
  padding-right: 0;
  text-align: right;
}

/* SWEET ALERT ======= */

.swal-overlay {
  background-color: rgba(0,0,0,0.6);
}
.swal-title {
  font-size: 25px;
}
.swal-text {
  font-size: 22px;
}
.swal-modal {
  border-radius: 0;
}
.swal-footer {
  text-align: center;
}
.swal-button {
  width: 200px;
  background: #8eb8d8;
  font-size: 20px;
  border-radius: 0;
}
.swal-button:focus {
  box-shadow: unset;
}

/* ICON BLOCK */
.icon-block {
  background: #6abcaa;
  color: #fff;
  border-color: #6abcaa;
}